/* Web fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

/* Reset CSS
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base numbers and colors */
body {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:0.9em;
	line-height:1.6em;
	color:#e1c7a7;
	text-shadow:1px 1px 1px #1c1c1c;
}

a:link, a:visited {
	color:#adb4c7;
	text-decoration:none;
	}

a:hover, a:active {
	border-bottom:1px solid #adb4c7;
	}
	
body#home a#home,
body#blog a#blog,
body#about a#about,
body#toc a#toc,
body#pp a#pp {
	color:#744f21;
	}

img, iframe {
	display:block;
	}
	
section {
	padding:2%;
	overflow:hidden;
	}

p {
	margin:3% 0;
	}

.container {
	width:60%;
	margin:0 auto;
	}	
	
h1 {
	font-family:'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:700;
	margin:2% 0;
	font-size:3em;
	line-height:1em;
	}
	
h2 {
	font-family:'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:400;
	margin:3% 0 1% 0;
	font-size:1.4em;
	color:#ebdacd;
	}
	
/* Header (Logo + App Store button) */
header {
	-moz-box-shadow:0 0 5px 5px #271d16;
	-webkit-box-shadow:0 0 5px 5px #271d16;
	box-shadow:0 0 5px 5px #271d16;
	overflow:hidden;
	}

#logo {
	width:150px;
	height:auto;
	float:left;
	}

#store {
	width:auto;
	height:auto;
	float:right;
	padding:20px 0;
	}
	
/* Footer menu */
footer {
	display:block;
	overflow:hidden;
	padding:2%;
	}
	
footer ul {
	list-style-type:none;
	text-align:right;
	}

footer li {
	display:inline-block;
	padding:0 2%;
	font-size:0.8em;
	text-shadow:none;
	}

footer a:link, footer a:visited {
	color:#c7c7c7;
	}

footer a:hover, footer a:active {
	color:#744f21;
	border-bottom:1px solid #744f21;
	}

/* Hero section */
#hero {
	background:url(bg.png) top right no-repeat #744f21;
	background-size:cover;
	color:#fff;
	font-size:1.2em;
	-moz-box-shadow:inset 0 0 10px 0 #543712;
	-webkit-box-shadow:inset 0 0 10px 0 #543712;
	box-shadow:inset 0 0 10px 0 #543712;
	padding:8% 2%;
	}

.small {
	font-size:0.7em;
	}
	
.short {
	width:60%;
	float:left;
	}

.shorter {
	width:86%;
	}
	
/* Watch video section */
#watch {
	padding:3%;
	background:url(video_bg.png) top right #fff;
	background-size:100%;
	}

#video {
	float:left;
	-moz-box-shadow:0 0 5px 5px #bebebe;
	-webkit-box-shadow:0 0 5px 5px #bebebe;
	box-shadow:0 0 5px 5px #bebebe;
	}
	
#arrow {
	float:left;
	width:30%;
	height:30%;
	padding:8% 0 0 0;
	}
	
	
/* Three columns */
#points {
	background-color:#4c3a2c;
	-moz-box-shadow:inset 0 0 10px 0 #271d16;
	-webkit-box-shadow:inset 0 0 10px 0 #271d16;
	box-shadow:inset 0 0 10px 0 #271d16;
	}

/*	
#points div.col {
	float:left;
	width:26%;
	margin:1% 5%;
	}

#points div.col:first-of-type {
	margin:1% 4% 0 0;
	}
	
#points div.col:last-of-type {
	margin:1% 0 0 4%;
	}
*/
	
.divider {
	float:left;
	}

#points div.left {
	float:left;
	width:26%;
	margin:0 4% 0 0;
	}
	
#points div.mid {
	float:left;
	width:26%;
	margin:0 5%;
	}

#points div.right {
	float:left;
	width:26%;
	margin:0 0 0 4%;
	}

/* Browse-Connect-Fix section */
#circles {
	padding:5% 0;
	}

/*	
#circles img.col {
	float:left;
	width:22%;
	margin:0 2%;
	}
	
#circles img.col:first-of-type {
	margin:0 3% 0 0;
	}
	
#circles img.col:last-of-type {
	margin:0 0 0 3%;
	}
*/

#circles img.left {
	float:left;
	width:22%;
	margin:0 3% 0 0;
	}
	
#circles img.mid {
	float:left;
	width:22%;
	margin:0 2%;
	}

#circles img.right {
	float:left;
	width:22%;
	margin:0 0 0 3%;
	}

#circles img.flow {
	float:left;
	width:8%;
	height:8%;
	padding:10% 0 0 2%;
	}

#browse, #connect {
	padding:0 25%;
	}

#fix {
	padding:0 45%;
	}
	
/* Problem-Solution section */
#solution {
	background-color:#744f21;
	-moz-box-shadow:inset 0 0 10px 0 #543712;
	-webkit-box-shadow:inset 0 0 10px 0 #543712;
	box-shadow:inset 0 0 10px 0 #543712;
	}
	
/* ABOUT PAGE */

/* Summary */
#summary {
	background:#4c392c;
	background-size:cover;
	color:#fff;
	font-size:1.2em;
	-moz-box-shadow:inset 0 0 10px 0 #543712;
	-webkit-box-shadow:inset 0 0 10px 0 #543712;
	box-shadow:inset 0 0 10px 0 #543712;
	padding:8% 2%;
	}

/* Grid of boxes */
#grid {
	background:#edf1fd;
	}

#grid img {
	width:50px;
	height:50px;
	margin:15px auto;
	}

#grid p {
	color:#5a6074;
	text-shadow:none;
	font-size:0.75em;
	font-weight:600;
	line-height:1.4em;
	}
	
.cell {
	color:#5a6074;
	text-shadow:none;
	width:130px;
	height:130px;
	margin:3%;
	padding:1%;
	background-color:#fff;
	float:left;
	border-radius:5px;
	-moz-box-shadow:0 2px 3px 0.5px #d3d7e5;
	-webkit-box-shadow:0 2px 3px 0.5px #d3d7e5;
	box-shadow:0 2px 3px 0.5px #d3d7e5;
	}

/*
.cell:nth-of-type(4n + 1) {
	margin:3% 3% 3% 0;
	}
	
.cell:nth-of-type(4n) {
	margin:3% 0 3% 3%;
	} */

/* Company information */
#contact {
	background-color:#4c392c;
	-moz-box-shadow:inset 0 0 10px 0 #543712;
	-webkit-box-shadow:inset 0 0 10px 0 #543712;
	box-shadow:inset 0 0 10px 0 #543712;
	}
	
#contact h2 {
	color:#fce2d2;
	}
	
#contact p {
	color:#cdb09e;
	}

/* FAQ */
#faq {
	background:#edf1fd;
	}

#grid h2, #faq h2 {	
	color:#33353e;
	text-shadow:none;
	}
	
#faq p {
	color:#5a6074;
	text-shadow:none;
	font-size:0.9em;
	}

/* Responsive media queries */
@media (max-width:1500px) {
	header div.container {
		padding:0 4%;
		}
		
	.container, #hero, #watch, #points, #circles {
		width:auto;
		padding:4%;
		}
	}
	
@media (max-width:1110px) {
	#hero {
		background:url(bg_resize.png) no-repeat;
		background-size:cover;
		}

	.short, .shorter {
		width:auto;
		}
	}	
	
@media (max-width:1000px) {
	#video {
		margin:0 auto;
		}
		
	#arrow {
		display:none;
		}
	}

@media (max-width:900px) {
		
	#video {
		float:none;
		margin:auto;
		}
	
	#points div.left,
	#points div.mid,
	#points div.right {
		float:none;
		clear:both;
		width:auto;
		margin:0;
		}
		
	.divider {
		display:none;
		}
		
	}
	
@media (max-width:700px) {
	#video {
		width:auto;
		}
	}

@media (max-width:600px) {
	body {
		font-size:0.8em;
		}
	
	#hero {
		background:#744f21;
		font-size:1em;
		}
	
	#watch {
		background:#fff;
		}
	
	#logo {
		float:none;
		margin:0 auto;
		}
	
	#store {
		display:none;
		}
	
	h1 {
		font-size:2em;
		text-align:center;
		}
		
	h2 {
		font-size:1em;
		}
		
	#button {
		margin:0 auto;
		}
	
	.small {
		text-align:center;
		}
	
	footer li {
		display:block;
		}
		
	#circles img.left,
	#circles img.mid,
	#circles img.right {
		float:none;
		margin:0 auto;
		width:40%;
		height:40%;
		}
	
	#circles img.flow {
		display:none;
		}
	
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	